
@font-face {font-family: "iconfont";
  src: url("iconfont.eot-t=1459860717")/*tpa=http://m.yzhcloud.com/tg/Public/css/newiconfont/iconfont.eot?t=1459860717*/; /* IE9*/
  src: url("iconfont.eot-t=1459860717#iefix")/*tpa=http://m.yzhcloud.com/tg/Public/css/newiconfont/iconfont.eot?t=1459860717#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff-t=1459860717")/*tpa=http://m.yzhcloud.com/tg/Public/css/newiconfont/iconfont.woff?t=1459860717*/ format('woff'), /* chrome, firefox */
  url("iconfont.ttf-t=1459860717")/*tpa=http://m.yzhcloud.com/tg/Public/css/newiconfont/iconfont.ttf?t=1459860717*/ format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("iconfont.svg-t=1459860717#iconfont")/*tpa=http://m.yzhcloud.com/tg/Public/css/newiconfont/iconfont.svg?t=1459860717#iconfont*/ format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiarugedan:before { content: "\e617";color:#fff; }
.icon-dayinji:before { content: "\e618"; color:#fff; }
.icon-tuichu:before { content: "\e619"; color:#fff; }
.icon-jiantouxianhewenzi:before { content: "\e61a"; color:#777; }
.icon-tuichu1:before { content: "\e61b"; color:#fff; }
.icon-buju:before { content: "\e600";color:#fff;  }
.icon-celiang:before { content: "\e601"; color:#fff; }
.icon-chexiao:before { content: "\e602"; color:#fff; }
.icon-chongzhi:before { content: "\e603"; color:#fff; }
.icon-chuanyue:before { content: "\e604"; color:#fff; }
.icon-fanse:before { content: "\e605";color:#fff;  }
.icon-gengduo:before { content: "\e606"; color:#fff; }
.icon-huifu:before { content: "\e607"; color:#fff; }
.icon-juxing:before { content: "\e608"; color:#777; }
.icon-liangjiao:before { content: "\e609";color:#777;  }
.icon-pingyi:before { content: "\e60a"; color:#fff; }
.icon-qingli:before { content: "\e60b"; color:#fff; }
.icon-suofang:before { content: "\e60c"; color:#fff; }
.icon-tanzhen:before { content: "\e60d";color:#777;  }
.icon-tiaose:before { content: "\e60e"; color:#fff; }
.icon-tuoyuan:before { content: "\e60f"; color:#777; }
.icon-xulie:before { content: "\e610"; color:#fff; }
.icon-youxuan:before { content: "\e611"; color:#fff; }
.icon-zhixian:before { content: "\e612"; color:#777; }
.icon-zuoxuan:before { content: "\e613"; color:#fff; }
.icon-tingzhi:before { content: "\e614"; color:#fff; }
.icon-huiyi:before { content: "\e615";color:#fff;  }
.icon-bofang:before { content: "\e616"; color:#fff; }
